:root {
    background: linear-gradient(60deg,#222, #444);
    height: 100vh;
    width: 100vw;
    color: white;
    --nav-width: clamp(120px, 18vw, 250px);
    text-align: center;
    font-size: clamp(12px, 1.2vw, 16px);
}

* {
    box-sizing: border-box;
    border: 1px solid black;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--nav-width);
    background-color: #225;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: pink;
}

body {
    margin-left: var(--nav-width);
    padding: 1 rem;
}

section {
    margin: auto;
    width: 90%;
    max-width: 60rem;
}

h1, h2 {
    font-family: tahoma;
}

p, a, li {
    font-family: sans;
}

ul, ol {
    width: 15rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: left;
}

img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 3px solid black;
}

#stickman-img {
    object-fit: contain;
    background-color: white;
   
}

#food-img {
    object-fit: cover;
}
